@model ProyectoAbogadosV2.Models.Cliente

@{
    ViewBag.Title = "Edit";
}
    <div class="container-fluid">
        <div class="row ">
            <div class="col-12 ml-2 mr-2 mt-1 mb-1 pt-1 pl-2 pb-1 bg-grisclaro">
                <h2>@Html.ActionLink("Cliente", "Index", "Clientes") / Edición</h2>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="bg-grisclaro pt-1 pb-1 col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-2 col-sm-6 col-sm-offset-2 col-xs-10 col-xs-offset-1 ">
                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = " color-azuloscuro control-label col-lg-3 col-md-4" })
                            <div class="col-lg-9 col-md-8 ">
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = " color-azuloscuro control-label col-lg-3 col-md-4" })
                            <div class="col-lg-9 col-md-8">
                                @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.NifCliente, htmlAttributes: new { @class = "color-azuloscuro control-label col-lg-3 col-md-4" })
                            <div class="col-lg-9 col-md-8">
                                @Html.EditorFor(model => model.NifCliente, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NifCliente, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MovilCliente, htmlAttributes: new { @class = "color-azuloscuro control-label col-lg-3 col-md-4" })
                            <div class="col-lg-9 col-md-8">
                                @Html.EditorFor(model => model.MovilCliente, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MovilCliente, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FijoCliente, htmlAttributes: new { @class = "color-azuloscuro control-label col-lg-3 col-md-4" })
                            <div class="col-lg-9 col-md-8">
                                @Html.EditorFor(model => model.FijoCliente, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FijoCliente, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FechaIngreso, htmlAttributes: new { @class = "color-azuloscuro control-label col-lg-3 col-md-4" })
                            <div class="col-lg-9 col-md-8">
                                @Html.EditorFor(model => model.FechaIngreso, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FechaIngreso, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.FechaBaja, htmlAttributes: new { @class = "color-azuloscuro control-label col-lg-3 col-md-4" })
                            <div class="col-lg-9 col-md-8">
                                @Html.EditorFor(model => model.FechaBaja, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FechaBaja, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "color-azuloscuro control-label col-lg-3 col-md-4" })
                            <div class="col-lg-9 col-md-8">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Descripcion_Cliente, htmlAttributes: new { @class = "color-azuloscuro control-label col-lg-3 col-md-4" })
                            <div class="col-lg-9 col-md-8">
                                @Html.EditorFor(model => model.Descripcion_Cliente, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Descripcion_Cliente, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Direccion_Cliente, htmlAttributes: new { @class = "color-azuloscuro control-label col-lg-3 col-md-4" })
                            <div class="col-lg-9 col-md-8">
                                @Html.EditorFor(model => model.Direccion_Cliente, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Direccion_Cliente, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Poblacion_Cliente, htmlAttributes: new { @class = "color-azuloscuro control-label col-lg-3 col-md-4" })
                            <div class="col-lg-9 col-md-8">
                                @Html.EditorFor(model => model.Poblacion_Cliente, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Poblacion_Cliente, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Cp_Cliente, htmlAttributes: new { @class = "color-azuloscuro control-label col-lg-3 col-md-4" })
                            <div class="col-lg-9 col-md-8">
                                @Html.EditorFor(model => model.Cp_Cliente, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Cp_Cliente, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="text-center pb-1 pt-1 col-lg-12 col-md-10">
                            <input type="submit" value="GUARDAR CAMBIOS" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
            
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-1">
                <h5 class="pl-4 ">
                    @Html.ActionLink("VOLVER A CLIENTES", "Index")
                </h5>
            </div>
        </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
