<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Estilos.css" rel="stylesheet" />
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top ml-2 mr-2 bg-white">
        <div class="container-fluid bg-white ">
            
            <div class="navbar-header ">

                <button type="button" class="navbar-toggle colortortuga " data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>


                </button>
                <div class="">
                    @* <a class="navbar-brand" href="#">S</a>*@
                    @Html.ActionLink("Soler Abogados", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
            <div class="navbar-collapse collapse bg-white">
                <ul class="nav navbar-nav ">
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Usuario"))
                        {
                            <li>@Html.ActionLink("EXPEDIENTES", "Index", "Expedientes")</li>
                            <li>@Html.ActionLink("DOCUMENTOS", "Index", "Documentos")</li>
                            <li>@Html.ActionLink("ACTUACIONES", "Index", "Actuaciones")</li>
                            @*<li>@Html.ActionLink("CONTACTO", "Contact", "Home")</li>*@
                        }
                        if (User.IsInRole("Administrador"))
                        {
                            <li>@Html.ActionLink("CLIENTES", "Index", "Clientes")</li>
                            <li>@Html.ActionLink("ABOGADOS", "Index", "Abogados")</li>
                            <li>@Html.ActionLink("EXPEDIENTES", "Index", "Expedientes")</li>
                            <li class="visible-lg">@Html.ActionLink("ACTUACIONES", "Index", "Actuaciones")</li>
                            <li class="visible-lg">@Html.ActionLink("DOCUMENTOS", "Index", "Documentos")</li>
                            <li class="visible-lg">@Html.ActionLink("JURISDICCIONES", "Index", "Jurisdicciones")</li>
                            @* <li>@Html.ActionLink("REGISTRAR NUEVO CLIENTE", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
                        }
                    }
                    else
                    {
                        @*<li>@Html.ActionLink("Abogados", "Index", "Abogados")</li>
                    <li>@Html.ActionLink("Expedientes", "Index", "Expedientes")</li>
                    <li>@Html.ActionLink("Documentos", "SubirArchivo", "Documentos")</li>
                    <li>@Html.ActionLink("Actuaciones", "Index", "Actuaciones")</li>
                    <li>@Html.ActionLink("Jurisdicciones", "Index", "Jurisdicciones")</li>*@
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        
        <footer class=" ml-2 mr-2 mt-2">
            <div class="container-fluid">
                <div class="row bg-azuloscuro-footer">
                    <div class=" col-lg-3  col-md-4  col-md-offset-1 col-sm-12  ml-2 mb-3 pl-4 pr-4  pt-2 ">
                        <p class="color-grisletras">DATOS DE CONTACTO:</p>
                        <p class="color-enlacesgrisvioleta">SolerySoler Abogados S.L.</p>
                        <p class="color-enlacesgrisvioleta">C/. Jardines, 16 - 1ºD</p>
                        <p class="color-enlacesgrisvioleta">Elda (Alicante)</p>
                        <p class="color-enlacesgrisvioleta">solerysoler@gmail.com</p>
                        <p class="color-enlacesgrisvioleta">Tel: 610 000 000</p>
                    </div>
                    <div class=" col-lg-3  col-md-4  col-md-offset-1 col-sm-12  ml-2 mb-3 pl-4 pr-4  pt-2 ">
                        <p class="color-grisletras">ENLACES DE INTERÉS:</p>
                        <p class="color-enlacesgrisvioleta">Colegio de Abogados de Alicante</p>
                        <p class="color-enlacesgrisvioleta">Escuela de Práctica Jurídica de Alicante</p>
                        <p class="color-enlacesgrisvioleta">Seguridad Social</p>
                        <p class="color-enlacesgrisvioleta"></p>
                        <p class="color-enlacesgrisvioleta"></p>
                    </div>
                    <div class=" col-lg-3  col-md-4  col-md-offset-1 col-sm-12  ml-2 mb-3 pl-4 pr-4  pt-2 ">
                        <p class="color-grisletras">TRABAJA CON NOSOTROS:</p>
                        <p class="color-enlacesgrisvioleta">  </p>
                        <p class="color-enlacesgrisvioleta">Envia tu C.V.</p>
                        <p class="color-enlacesgrisvioleta">TIENES ALGUNA CONSULTA</p>
                        <p class="color-enlacesgrisvioleta">  </p>
                        <p class="color-enlacesgrisvioleta">Formulario de Contacto</p>
                    </div>
                </div>
                <div class="row bg-light color-enlacesgrisvioleta ">                    
                        <div class=" col-lg-3  col-md-4  col-md-offset-1 col-sm-12  ml-2 mb-1 pl-4 pr-4  pt-2 ">
                            <p class="color-enlacesgrisvioleta">Política de Privacidad</p>
                        </div>
                        <div class=" col-lg-3  col-md-4  col-md-offset-1 col-sm-12  ml-2 mb-1 pl-4 pr-4  pt-2 ">
                            <p class="color-enlacesgrisvioleta">Términos de uso</p>
                        </div>
                        <div class=" col-lg-3  col-md-4  col-md-offset-1 col-sm-12  ml-2 mb-1 pl-4 pr-4  pt-2 ">
                            <p>&copy; Diseño Legal S.L. @DateTime.Now.Year</p>
                        </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
