@model ProyectoAbogadosV2.Models.Actuacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Actuacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Expediente.TituloExpediente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expediente.TituloExpediente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCierre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCierre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotificacionCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotificacionCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotificacionJuzgado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotificacionJuzgado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
