@model IEnumerable<ProyectoAbogadosV2.Models.Actuacion>

@{
    ViewBag.Title = "Index";
}
    <div class="container-fluid ">
        <div class="row">

            <div class="col-12 bg-azulmarino-degradado ml-2 mr-2 mt-1 mb-1 pl-1 pt-1 pb-1">
                <h2 class="text-white">Listado de Actuaciones</h2>
            </div>

            @*<div class="col-6 ml-2 mr-2">
            <p>

                @Html.ActionLink("Nueva Actuación", "Create")
            </p>
        </div>*@
            <div class="row">

                <div class="col-lg-10 col-lg-offset-1 col-md-12 ml-4 mr-4 mt-2">
                    <table class="table table-hover table-responsive">
                        <tr class=" bg-grisclaro color-grisoscuro-letras">
                            <th>
                                @Html.DisplayNameFor(model => model.Expediente.TituloExpediente)
                            </th>
                            <th class="">
                                @Html.DisplayNameFor(model => model.FechaInicio)
                            </th>
                            <th class="visible-lg">
                                @Html.DisplayNameFor(model => model.FechaCierre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </th>
                            <th class="visible-lg">
                                @Html.DisplayNameFor(model => model.NotificacionCliente)
                            </th>
                            <th class="visible-lg">
                                @Html.DisplayNameFor(model => model.NotificacionJuzgado)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Expediente.TituloExpediente)
                                </td>
                                <td class="">
                                    @Html.DisplayFor(modelItem => item.FechaInicio)
                                </td>
                                <td class="visible-lg">
                                    @Html.DisplayFor(modelItem => item.FechaCierre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <td class="visible-lg">
                                    @Html.DisplayFor(modelItem => item.NotificacionCliente)
                                </td>
                                <td class="visible-lg">
                                    @Html.DisplayFor(modelItem => item.NotificacionJuzgado)
                                </td>
                                <td>
                                    @if (User.IsInRole("Administrador"))
                                    {

                                        <button type="button" class="btn  btn-xs">@Html.ActionLink("DETALLE", "Details", new { id = item.Id }, null) </button>
                                        @*@Html.ActionLink("DETALLE", "Details", "Expedientes", new { id = item.ExpedienteId }, null)*@
                                        <button type="button" class="btn  btn-xs visible-lg-inline visible-md-inline">@Html.ActionLink("EDITAR", "Edit", new { id = item.Id }) </button>
                                        <button type="button" class="btn  btn-xs visible-lg-inline visible-md-inline">@Html.ActionLink("BORRAR", "Delete", new { id = item.Id }) </button>
                                    }
                                    @if (User.IsInRole("Usuario"))
                                    {
                                <button type="button" class="btn  btn-xs">@Html.ActionLink("DETALLE", "Details", new { id = item.Id }, null)</button>
                                    }
                                </td>
                            </tr>
                        }

                    </table>
                    @* Se añade para poder imprimir la página *@
                    <div class="hidden-print text-center mt-5 mb-2">
                        <a class="btn btn-default" href="javascript:window.print()">Imprimir</a>
                    </div>
                </div>
            </div>
        </div>
</div>
