@model IEnumerable<ProyectoAbogadosV2.Models.Documento>

@{
    ViewBag.Title = "Index";
}
    <div class="container-fluid ">
        <div class="row">

            <div class="col-12 bg-azulmarino ml-2 mr-2">
                <h2 class="text-white">Listado de Documentos</h2>
            </div>

            @*<div class="col-6 ml-2 mr-2">
                <p>
                    @Html.ActionLink("Nuevo Documento", "SubirArchivo")
                </p>
            </div>*@
            <div class="col-lg-11 ml-2 mr-2">
                <table class="table table-hover">
                    <tr class=" bg-grisclaro color-grisoscuro-letras">
                        <th>
                            @Html.DisplayNameFor(model => model.ExpedienteId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </th>
                        <th class="visible-lg">
                            @Html.DisplayNameFor(model => model.Documentacion)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpedienteId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td class="visible-lg">
                                @Html.DisplayFor(modelItem => item.Documentacion)
                            </td>
                            <td>
                                @if (User.IsInRole("Administrador"))
                                {
                                    <button type="button" class="btn btn-xs ">@Html.ActionLink("DETALLE", "Details", new { id = item.Id })</button>
                                    <button type="button" class="btn  btn-xs visible-lg-inline visible-md-inline">@Html.ActionLink("EDITAR", "Edit", new { id = item.Id })</button>
                                    <button type="button" class="btn  btn-xs visible-lg-inline visible-md-inline">@Html.ActionLink("BORRAR", "Delete", new { id = item.Id })</button>
                                }
                                @if (User.IsInRole("Usuario"))
                                { 
                                    <button type="button" class="btn btn-xs ">@Html.ActionLink("DETALLE", "Details", new { id = item.Id })</button>                                
                                }
                                </td>

                        </tr>
                    }

                </table>
                @* Se añade para poder imprimir la página *@
                <div class="hidden-print text-center">
                    <a class="btn btn-default" href="javascript:window.print()">Imprimir</a>
                </div>
                </div>
            </div>
        </div>
    </div>