@{
    ViewBag.Title = "Home Page";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12 contenedor ml-1 mr-1">

            <img src="~/Content/Imagenes/Agendas1280187.jpg" class="card-img-top img-responsive" alt="...">
            <p class="text-center centrado1 visible-lg hidden-md">SyS</p>
            <p class="text-center centrado">ZONA PRIVADA</p>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-0"></div>
        <div class="col-lg-10 col-md-10 col-sm-12">
            <div class="row pl-5 pr-5 pt-4 pb-4 ">
                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("Usuario"))
                    {
                        <div class="col-10 text-center">
                            <h3 class="text-center">Bienvenido, en esta zona puede encontrar actualizada toda la información sobre tus procediemientos en curso.</h3>
                            <h4 class="text-primary text-center">Elija la sección que desea consultar.</h4>
                        </div>
                        <div class="col-lg-3  col-md-4  col-md-offset-1 col-sm-12  ml-2 mb-3 pl-4 pr-4  pt-2 ">
                            <div class="card bordecard">
                                @*<a href="">*@
                                <img src="~/Content/Imagenes/Actuación1280845.jpg" class="card-img-top" alt="...">
                                <div class="card-body text-center">
                                    <h3 class="card-text pb-4 ">@Html.ActionLink("EXPEDIENTES", "Index", "Expedientes")</h3>
                                </div>
                                @*</a>*@
                            </div>
                        </div>
                        <div class="col-lg-3  col-md-4  col-md-offset-1 col-sm-12  ml-2 mb-3 pl-4 pr-4  pt-2 ">
                            <div class="card bordecard">
                                @*<a href="">*@
                                <img src="~/Content/Imagenes/Actuación1280845.jpg" class="card-img-top" alt="...">

                                <div class="card-body text-center">
                                    <h3 class="card-text pb-4 ">@Html.ActionLink("ACTUACIONES", "Index", "Actuaciones")</h3>
                                </div>
                                @*</a>*@
                            </div>
                        </div>
                        <div class="col-lg-3  col-md-4  col-md-offset-1 col-sm-12  ml-2 mb-3 pl-4   pt-2 ">
                            <div class="card bordecard">
                                @*<a href="">*@
                                <img src="~/Content/Imagenes/Documento1280845.jpg" class="card-img-top" alt="..." />
                                <div class="card-body text-center">
                                    <h3 class="card-text pb-4 ">@Html.ActionLink("DOCUMENTOS", "SubirArchivo", "Documentos")</h3>
                                </div>
                                @*</a>*@
                            </div>
                        </div>
                        <div class="col-lg-3  col-md-4  col-md-offset-1 col-sm-12  ml-2 mb-3 pl-4 pr-4  pt-2 ">
                            <div class="card bordecard">
                                @*<a href="">*@
                                <img src="~/Content/Imagenes/Abogado1280845.jpg" class="card-img-top" alt="...">
                                <div class="card-body text-center">
                                    <h3 class="card-text pb-4 ">@Html.ActionLink("ABOGADOS", "Index", "Abogados")</h3>
                                </div>
                                @*</a>*@
                            </div>
                        </div>

                    }
                    if (User.IsInRole("Administrador"))
                    {
                        <div class="col-8 text-center">
                            <div class=""
                            <h3 class="text-center ml-5 mr-5">Bienvenido de nuevo al despacho,  en esta zona puedes encontrará actualizada toda la información sobre los procedimientos en curso.</h3>
                            <h3 class="text-primary text-center">Elije tu consulta</h3>
                        </div>
                        <div class="col-lg-4  col-md-6  col-sm-12  mt-1 mb-1 ">
                            <div class="card bordecard">
                                @*<a href="">*@
                                <img src="~/Content/Imagenes/Actuación1280845.jpg" class="card-img-top" alt="...">
                                <div class="card-body text-center">
                                    <h3 class="card-text pb-4 ">@Html.ActionLink("EXPEDIENTES", "Index", "Expedientes")</h3>
                                </div>
                                @*</a>*@
                            </div>
                        </div>
                        <div class="col-lg-4  col-md-6  col-sm-12  mt-1 mb-1 ">
                            <div class="card bordecard">
                                @*<a href="">*@
                                <img src="~/Content/Imagenes/Actuación1280845.jpg" class="card-img-top" alt="...">

                                <div class="card-body text-center">
                                    <h3 class="card-text pb-4 ">@Html.ActionLink("ACTUACIONES", "Index", "Actuaciones")</h3>
                                </div>
                                @*</a>*@
                            </div>
                        </div>
                        <div class="col-lg-4  col-md-6  col-sm-12  mt-1 mb-1 ">
                            <div class="card bordecard">
                                @*<a href="">*@
                                <img src="~/Content/Imagenes/Actuación1280845.jpg" class="card-img-top" alt="..." />
                                <div class="card-body text-center">
                                    <h3 class="card-text pb-4 ">@Html.ActionLink("DOCUMENTOS", "SubirArchivo", "Documentos")</h3>
                                </div>
                                @*</a>*@
                            </div>
                        </div>
                        <div class="col-lg-4  col-md-6   col-sm-12   mt-1 mb-1 ">
                            <div class="card bordecard">
                                @*<a href="">*@
                                <img src="~/Content/Imagenes/Actuación1280845.jpg" class="card-img-top" alt="...">
                                <div class="card-body text-center">
                                    <h3 class="card-text pb-4 ">@Html.ActionLink("CLIENTES", "Index", "Clientes")</h3>
                                </div>
                                @*</a>*@
                            </div>
                        </div>
                        <div class="col-lg-4  col-md-6   col-sm-12  mt-1 mb-1 ">
                            <div class="card bordecard">
                                @*<a href="">*@
                                <img src="~/Content/Imagenes/Actuación1280845.jpg" class="card-img-top" alt="...">
                                <div class="card-body text-center">
                                    <h3 class="card-text pb-4 ">@Html.ActionLink("ABOGADOS", "Index", "Abogados")</h3>
                                </div>
                                @*</a>*@
                            </div>
                        </div>
                        <div class="col-lg-4  col-md-6  col-sm-12  mt-1 mb-1 ">
                            <div class="card bordecard">
                                @*<a href="">*@
                                <img src="~/Content/Imagenes/Actuación1280845.jpg" class="card-img-top" alt="...">
                                <div class="card-body text-center">
                                    <h3 class="card-text pb-4 ">@Html.ActionLink("JURISDICCIONES", "Index", "Jurisdicciones")</h3>
                                </div>
                                @*</a>*@
                            </div>
                        </div>
                    }
                }

                else
                { }
            </div>
        </div>
    </div>
</div>
<div class="row pl-5 pr-5 pt-4 pb-4 ">
    <div class="col-lg-10 col-lg-offset-1 ">
        
        <div class="col-12 text-center">
            <h3 class="text-center text-primary mb-5 ">Tu calendario y mensajes.</h3>
        </div>
        <div class="col-lg-10  col-lg-offset-1 ml-4 mr-4 col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2 bg-grisclaro">
            <div class="row  pt-2 pb-2 pl-4 pr-4">
                <div class="col-lg-6 mt-2">
                    <img src="~/Content/Imagenes/Actuación1280845.jpg" class="img-responsive mb-2" alt="...">
                    <button type="button" class="btn btn-primary btn-lg btn-block text-center">VER CALENDARIO</button>

                </div>
                <div class="col-lg-6 mt-2">
                    <img src="~/Content/Imagenes/Actuación1280845.jpg" class="img-responsive mb-2" alt="...">
                    <button type="button" class="btn btn-primary btn-lg btn-block text-center">VER MENSAJES</button>


                </div>

            </div>
        </div>
        <div class="col-lg-12 text-center pt-5 pb-1">
            <h3 class=" text-center ">
                Esperamos que estas herramientas te sean de utilidad, si tienes cualquier duda no dudes en ponerte en contacto, estaremos encantados de atenderte.
            </h3>
        </div>
        <div class="row ">
            <div class="col-lg-6 col-md-6 col-xs-12 mt-4 mb-2">
                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("Usuario"))
                    {
                        <button type="button" class="btn btn-primary btn-lg btn-block text-center">SOPORTE DESPACHO</button>
                    }
                    if (User.IsInRole("Administrador"))
                    {
                        <button type="button" class="btn btn-primary btn-lg btn-block text-center">SOPORTE TÉCNICO</button>
                    }
                }
            </div>
                <div class="col-lg-6 col-md-6 col-xs-12 mt-4 mb-4">
                    <button type="button" class="btn btn-primary btn-lg btn-block text-center">TUTORIÁL DE USO</button>
                </div>
            </div>
    </div>
</div>
        @*<li>@Html.ActionLink("Abogados", "Index", "Abogados")</li>
        <li>@Html.ActionLink("Expedientes", "Index", "Expedientes")</li>
        <li>@Html.ActionLink("Documentos", "SubirArchivo", "Documentos")</li>
        <li>@Html.ActionLink("Actuaciones", "Index", "Actuaciones")</li>
        <li>@Html.ActionLink("Jurisdicciones", "Index", "Jurisdicciones")</li>

        @*
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/Content/Imagenes/Expediente.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">EXPEDIENTES</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/Content/Imagenes/Actuacion.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ACTUACIONES</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/Content/Imagenes/Documento.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">DOCUMENTOS</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">CLIENTES</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/Content/Imagenes/Abogado.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ABOGADOS</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
        <br />
        <br />
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <input type="text" class="form-control" id="message" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <input type="text" class="btn btn-success" id="sendmessage" value="Enviar" />
                </div>
                <h3>Mensajes de los participantes</h3>
                <div class="row">
                    <ul id="discussion"></ul>
                </div>
            </div>
            <input type="hidden" id="displayname" />

        </div>

        @section scripts
        {
        <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>

        <script src="/signalR/hubs"></script>

        <script type="text/javascript">

            $(function () {

                var chat = $.connection.chatHub;

                chat.client.sendChat = function (name, message) {
                    var divName = $("<div />").text(name).html();
                    var divMessage = $("<div />").text(message).html();

                    $("#discussion").append("<li><strong>" + divName + "<strong>" + divMessage + "</li>");
                };
                var nameOwner = prompt("Escribe tu nombre: ", "");
                $("#displayname").val(nameOwver);

                $("#message").focus();

                $.connection.hub.start().done(function ()
                {
                    $("#sendmessage").click(function ()
                    {
                        var nameOwner = $("#displayname").val();
                        var messageText = $("#message").val();

                        chat.server.send(nameOwner, messageText);

                        $("#message").val("").focus();
                    })

                })


            })

        </script>*@

