@model ProyectoAbogadosV2.Models.Expediente

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Expediente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Abogado.NombreAbogado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abogado.NombreAbogado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jurisdiccion.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jurisdiccion.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TituloExpediente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TituloExpediente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCierre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCierre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProvisionFondos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvisionFondos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMinuta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMinuta)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
