@model ProyectoAbogadosV2.Models.Expediente

@{
    ViewBag.Title = "Details";
}
    <div class="container-fluid">
        <div class="row pl-3 pr-3 ">
            <div class="col-12   mt-2   pt-2 pl-3 pb-1 bg-grisclaro">
                <h2>@Html.ActionLink("Expediente", "Index", "Expedientes") / Detalle</h2>
            </div>

            <div class="col-lg-4  col-md-6   col-sm-12 pt-2  bg-grisclaro ">
                <p class="color-grisoscuro-letras">DESCRIPCIÓN:</p>
                <dl class="dl-horizontal">
                    <dt class="color-grisoscuro-letras1">
                        @Html.DisplayNameFor(model => model.TituloExpediente)
                    </dt>

                    <dd class="color-azuloscuro bold">
                        @Html.DisplayFor(model => model.TituloExpediente)
                    </dd>
                    <dt class="color-grisoscuro-letras1">
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>

                    <dd class="color-grisoscuro-letras2">
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>
                    <dt class="color-grisoscuro-letras1">
                        @Html.DisplayNameFor(model => model.Jurisdiccion.Nombre)
                    </dt>

                    <dd class="color-grisoscuro-letras2">
                        @Html.DisplayFor(model => model.Jurisdiccion.Nombre)
                    </dd>
                </dl>
                <br />
            </div>
            <div class="col-lg-4  col-md-6   col-sm-12 pt-2  bg-grisclaro">
                <p class="color-grisoscuro-letras">PARTICIPANTES:</p>
                <dl class="dl-horizontal">
                    <dt class="color-grisoscuro-letras1">
                        @Html.DisplayNameFor(model => model.Abogado.NombreAbogado)
                    </dt>

                    <dd class="color-grisoscuro-letras2">
                        @Html.DisplayFor(model => model.Abogado.NombreAbogado)
                    </dd>

                    <dt class="color-grisoscuro-letras1">
                        @Html.DisplayNameFor(model => model.Cliente.Nombre)
                    </dt>

                    <dd class="color-grisoscuro-letras2">
                        @Html.DisplayFor(model => model.Cliente.Nombre)
                    </dd>
                </dl>
                <br />
                <br />
            </div>
            <div class="col-lg-4  col-md-6   col-sm-12 pt-2  bg-grisclaro">
                <p class="color-grisoscuro-letras">ECONOMÍA:</p>
                <dl class="dl-horizontal">
                    <dt class="color-grisoscuro-letras1">
                        @Html.DisplayNameFor(model => model.FechaInicio)
                    </dt>

                    <dd class="color-grisoscuro-letras2">
                        @Html.DisplayFor(model => model.FechaInicio)
                    </dd>

                    <dt class="color-grisoscuro-letras1">
                        @Html.DisplayNameFor(model => model.FechaCierre)
                    </dt>

                    <dd class="color-grisoscuro-letras2">
                        @Html.DisplayFor(model => model.FechaCierre)
                    </dd>
                    <dt class="color-grisoscuro-letras1">
                        @Html.DisplayNameFor(model => model.ProvisionFondos)
                    </dt>

                    <dd class="color-grisoscuro-letras2">
                        @Html.DisplayFor(model => model.ProvisionFondos)
                    </dd>

                    <dt class="color-grisoscuro-letras1">
                        @Html.DisplayNameFor(model => model.TotalMinuta)
                    </dt>

                    <dd class="color-grisoscuro-letras2">
                        @Html.DisplayFor(model => model.TotalMinuta)
                    </dd>
                </dl>
            </div>
        </div>
        @* Se añade código para presentar los expedientes del cliente seleccionado *@
        <div class="col-10 ml-6 mr-6 mt-4 mb-2">
            
            <h4><strong> Actuaciones </strong> asignadas al expediente:</h4>
            <br />
            <table class="table table-hover table-responsive ml-2 mr-2">
                <tr class=" bg-grisclaro color-grisoscuro-letras">

                    <td>Fecha Inicio</td>
                    <td>Fecha Cierre</td>
                    <td>Descripción</td>
                    <td class="visible-lg">Notificación Cliente</td>
                    <td class="visible-lg">Notificación Juzgado</td>
                    <td></td>
                </tr>
                @foreach (var item in Model.Actuaciones)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td class="visible-lg">
                            @Html.DisplayFor(modelItem => item.NotificacionCliente)
                        </td>
                        <td class="visible-lg">
                            @Html.DisplayFor(modelItem => item.NotificacionJuzgado)
                        </td>

                        <td>
                            <div class="hidden-print">

                                @if (User.IsInRole("Administrador"))
                                {
                                    <button type="button" class="btn  btn-xs">@Html.ActionLink("CONSULTAR", "Details", "Actuaciones", new { id = item.Id }, null)</button>
                                    <button type="button" class="btn  btn-xs visible-lg-inline visible-md-inline">@Html.ActionLink("EDITAR", "Edit", "Actuaciones", new { id = item.Id }, null)</button>
                                    <button type="button" class="btn  btn-xs visible-lg-inline visible-md-inline">@Html.ActionLink("BORRAR", "Delete", "Actuaciones", new { id = item.Id }, null)</button>

                                }
                                @if (User.IsInRole("Usuario"))
                                {
                                    <button type="button" class="btn  btn-xs">@Html.ActionLink("CONSULTAR", "Details", "Actuaciones", new { id = item.Id }, null)</button>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </table>
            <div class="col-12 ml-4 mr-4">
                <p class="">@Html.ActionLink("NUEVA ACTUACIÓN", "Create", "Actuaciones", new { idExpediente = Model.Id }, null) </p>
            </div>

                </div>
                <div class="col-11 ml-4 mr-4  mt-2   pt-2 pl-3 pb-1 ">
                    <div class="hidden-print text-left mt-5">
                        @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@

                        @Html.ActionLink("VOLVER A EXPEDIENTES", "Index", new { @class = "bg-primary" })

                    </div>


                    @* Se añade para poder imprimir la página *@
                    <div class="hidden-print text-center">
                        <a class="btn btn-default" href="javascript:window.print()">Imprimir</a>
                    </div>
                </div>
        </div>
