@model IEnumerable<ProyectoAbogadosV2.Models.Expediente>

@{
    ViewBag.Title = "Index";
}
    <div class="container-fluid ">
        <div class="row">

            <div class="col-11 bg-azulmarino ml-2 mr-2">
                <h2 class="text-white">Listado de Expedientes</h2>
            </div>

            <div class="col-6 ml-2 mr-2">
                <p>
                    @if (User.IsInRole("Administrador"))
                    {
                        <div class="text-left mt-1 mb-1 ml-1 mr-1 botontrasparente">                            
                            <div class="btn btn-default botontrasparente">@Html.ActionLink("Nuevo Expediente", "Create")</div>
                        </div>
                    }
            </div>

            <div class="col-10 ml-3 mr-3">
                @* Para buscar por nombre de empleado en la lista de valores *@
                    @using (Html.BeginForm("Index", "Expedientes", FormMethod.Get))
                    {
                        /*<p>
                            Nombre del cliente: @Html.TextBox("strCadenaBusqueda")
                            <input type="submit" value="Buscar" />

                        </p>*/
                    <p class="ml-2 mt-2 mb-2">
                        Jurisdicción: @Html.DropDownList("strTipoJurisdiccion",(IEnumerable<SelectListItem>)ViewBag.ListaTipoAverias, "Todas")
                        Nombre del Cliente: @Html.TextBox("strCadenaBusqueda")
                        <input type="submit" value="Buscar y/o filtrar" />
                    </p>
                }
                    <table class="table table-hover table-responsive">
                        <tr class=" bg-grisclaro color-grisoscuro-letras">
                            <th>
                                @Html.DisplayNameFor(model => model.Abogado.NombreAbogado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cliente.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Jurisdiccion.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TituloExpediente)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaInicio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaCierre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProvisionFondos)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalMinuta)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Abogado.NombreAbogado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Jurisdiccion.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TituloExpediente)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaInicio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaCierre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProvisionFondos)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalMinuta)
                                </td>
                                <td>
                                    @Html.ActionLink("DETALLE", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("EDITAR", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("BORRAR", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }

                    </table>
                    @* Se añade para poder imprimir la página *@
                    <div class="hidden-print text-center">
                        <a class="btn btn-default" href="javascript:window.print()">Imprimir</a>
                    </div>
                </div>
</div>
</div>