@*@model IEnumerable<ProyectoAbogadosV2.Models.Expediente>*@
@model PagedList.IPagedList<ProyectoAbogadosV2.Models.Expediente>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}
<div class="container-fluid ">
    <div class="row">

        <div class="col-12 bg-azulmarino-degradado ml-2 mr-2 mt-1 mb-1 pl-1 pt-1 pb-1">
            <h2 class="text-white">Listado de Expedientes</h2>
        </div>

        <div class="col-lg-12  ml-2 mr-2 ">

            @if (User.IsInRole("Administrador"))
            {

            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous"> @Html.ActionLink("NUEVO EXPEDIENTE", "Create")</li>

                </ul>
            </nav>

            }

        </div>


















        <div class="col-lg-10 col-lg-offset-1 ml-3 mr-3">
            @* Para buscar por nombre de empleado en la lista de valores *@
            @using (Html.BeginForm("Index", "Expedientes", FormMethod.Get))
            {
                /*<p>
                    Nombre del cliente: @Html.TextBox("strCadenaBusqueda")
                    <input type="submit" value="Buscar" />

                </p>*/
                if (User.IsInRole("Administrador"))
                {
                    <div class="row mt-2 mb-2 pl-4 pr-4">
                        <div class="col-lg-1 col-md-2 col-sm-5 mt-1 pt-1 pl-5">Jurisdicción:</div>
                        <div class="col-lg-1 col-md-3 col-sm-5 mt-1 pt-1 mr-2">@Html.DropDownList("strTipoJurisdiccion", (IEnumerable<SelectListItem>)ViewBag.ListaTipoAverias, ViewBag.FiltroActual as string):</div>
                        <div class="col-lg-1 col-md-2 col-sm-4 mt-1 pt-1 mr-1 pl-5">Nombre Cliente:</div>
                        <div class="col-lg-1 col-md-3 col-sm-4 mt-1 pt-1 ">@Html.TextBox("strCadenaBusqueda", ViewBag.BusquedaActual as string)</div>
                        <div class="col-lg-1 col-md-2 col-md-offset-4 col-sm-3 ml-4 pt-1  mt-1 tex-center"><input type="submit" value="Buscar y/o filtrar" /></div>
                        <div class="col-lg-5 col-md-2 col-sm-0"></div>
                    </div>
                }

            }
            <table class="table table-hover table-responsive">
                <tr class=" bg-grisclaro color-grisoscuro-letras">
                    <th>
                        @*@Html.DisplayNameFor(model => model.Abogado.NombreAbogado)*@
                        Abogado:
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Cliente.Nombre)*@
                        Cliente:
                    </th>
                    <th class="visible-lg">
                        @*@Html.DisplayNameFor(model => model.Jurisdiccion.Nombre)*@
                        Jurisdicción:
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.TituloExpediente)*@
                        Título Expediente:
                    </th>
                    <th>
                        @* @Html.DisplayNameFor(model => model.FechaInicio)*@
                        Fecha Inicio:
                    </th>
                    <th class="visible-lg">
                        @* @Html.DisplayNameFor(model => model.FechaCierre)*@
                        Fecha Cierre:
                    </th>
                    <th class="visible-lg">
                        @* @Html.DisplayNameFor(model => model.Descripcion)*@
                        Descripción:
                    </th>
                    <th class="visible-lg">
                        @* @Html.DisplayNameFor(model => model.ProvisionFondos)*@
                        Provisión de Fondos:
                    </th>
                    <th class="visible-lg">
                        @* @Html.DisplayNameFor(model => model.TotalMinuta)*@
                        Total Minuta:
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Abogado.NombreAbogado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                        </td>
                        <td class="visible-lg">
                            @Html.DisplayFor(modelItem => item.Jurisdiccion.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TituloExpediente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaInicio)
                        </td>
                        <td class="visible-lg">
                            @Html.DisplayFor(modelItem => item.FechaCierre)
                        </td>
                        <td class="visible-lg">
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td class="visible-lg">
                            @Html.DisplayFor(modelItem => item.ProvisionFondos)
                        </td>
                        <td class="visible-lg">
                            @Html.DisplayFor(modelItem => item.TotalMinuta)
                        </td>
                        <td>
                            @if (User.IsInRole("Administrador"))
                            {
                                <button type="button" class="btn  btn-xs">@Html.ActionLink("DETALLE", "Details", new { id = item.Id })</button>
                                <button type="button" class="btn  btn-xs visible-lg-inline visible-md-inline">@Html.ActionLink("EDITAR", "Edit", new { id = item.Id }) </button>
                                <button type="button" class="btn  btn-xs visible-lg-inline visible-md-inline">@Html.ActionLink("BORRAR", "Delete", new { id = item.Id })</button>
                            }
                            @if (User.IsInRole("Usuario"))
                            {
                                <button type="button" class="btn  btn-xs">@Html.ActionLink("DETALLE", "Details", new { id = item.Id })</button>
                            }
                        </td>
                    </tr>
                }

            </table>
            <br />
            @* Se muestra el número de páginas y el total de páginas *@
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @* Se muestran los botones de paginación mediante el helper PagedListPager *@
            @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, strBusquedaActual = ViewBag.BusquedaActual, strFiltroActual = ViewBag.FiltroActual }))
            @* Se añade para poder imprimir la página *@
            <div class="hidden-print text-center mt-5 mb-2">
                <a class="btn btn-default" href="javascript:window.print()">Imprimir</a>
            </div>
        </div>
    </div>
</div>